#formBarcode, #formAttachment, #fileBarcode, #fileAttachment {
	display: none;
}

.form {
	position:relative;
	display:none;
}

.form.active {
	width:100%;
	height:100%;
	display:block;
}

.form .bottom-navbar{
	position:absolute;
	height:54px;
	width:100%;
	bottom:0px;
	text-align:center;
	background-color:#F9B233;
	color:white;
}

.form .bottom-navbar .button
{
	text-align:center;
	line-height:54px;
	height:54px;
	display:inline-block;
}

.form .bottom-navbar .button .text
{
	font-size:1.2em;
	height: 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
	float:none;
}

.form .bottom-navbar .button.half
{
	width:50%;
	float:left;
}

.form .bottom-navbar .button.half.red
{
	background-color: #FA5858;
}


.form .top-navbar{
	position:absolute;
	height:54px;
	width:100%;
	top:0px;
	background-color:#F9B233;
	color:white;
}

.form .top-navbar .close{
	position:absolute;
	font-size:26px;
	padding:14px 0px 4px 14px;
	cursor:pointer;
	z-index: 2;
}

.form .top-navbar .pager{
    position: absolute;
    top:10px;
    right:10px;
}

.form .top-navbar .pager .number{
    text-align: center;
}


.form .top-navbar .header{
	position:absolute;
	width:100%;
	margin-left:54px;
	padding:6px 0px 3px 0px;
}

.form .top-navbar .header .title{
	text-transform: capitalize;
	font-size:1.3em;
	padding:2px;
}

.form .top-navbar .header .subtitle{
	text-transform: capitalize;
	font-size:0.9em;
	padding:2px;
	font-weight:bold;
	color:black;
}

.wrapper-page {
	width:100%;
	height:100%;
	padding:54px 0px 54px 0px;
}


.wrapper-form{
	padding:20px 5px 20px 5px;
	width:100%;
	height:100%;
	overflow:auto;
}

.wrapper-form.garbage{
	position:relative;
	padding:0px 0px 0px 0px;
	overflow:hidden;
	margin:auto;
}

.wrapper-form.garbage img
{
	position:absolute;
    top:0;
    bottom:0;
	left:0;
	right:0;
	margin:auto;
}

.wrapper-form .garbage-item
{
	position:absolute;
	cursor:pointer;
	border-top:2px dashed black;
	text-align:center;
}

.wrapper-form .garbage-item.A
{
	background-color:blue;
}

.wrapper-form .garbage-item.B
{
	background-color:green;
}

.wrapper-form .garbage-item.C
{
	background-color:#F9B233;
}

.wrapper-form .garbage-item.D
{
	background-color:red;
}

.wrapper-form .description
{
	padding-bottom:20px;
}

.wrapper-form .input
{
	margin:0px;
	padding:14px 5px 14px 5px;
	width:100%;
	font-size:20px;
}

.wrapper-form .list
{
	padding:10px 20px 10px 20px;
}

.wrapper-form .list .item
{
	position:relative;
	width:100%;
	cursor:pointer;
	border:1px solid #F9B233;
	margin:4px 0px 4px 0px;
}


.wrapper-form .list .item .problem.icon
{
	position:absolute;
	top:13px;
	left:10px;
}

.wrapper-form .list .item .problem.value
{
	text-align: left;
}


.wrapper-form .list .item.active
{
	background-color:#21A957;
}

.wrapper-form .list .item .containerIcon
{
	position:absolute;
	left:12px;
	top:12px;
}

.wrapper-form .list .item .containerIcon .icon
{
}

.wrapper-form .list .item .value
{
	width:100%;
	padding: 13px 5px 13px 40px;
}

.wrapper-form .list .item .value input
{
	margin-top:3px;
}

.wrapper-form .list .item.other .value
{
	padding: 3px 5px 3px 40px;
}

.wrapper-form .list .item.other .value input
{
	margin-top:0px;
	margin-bottom: 0px;
}

.wrapper-form .list .item.other .containerIcon {
    top: 14px;
}

.wrapper-form .pageForm
{
	width:100%;
	text-align:center;
}

.wrapper-form .pageForm .button
{
	background-color:#21A957;
	line-height:50px;
	display:inline-block;
	font-size:1.5em;
	color:white;
	cursor:pointer;
	text-transform:capitalize;
}

.wrapper-form .pageForm .button.probleme
{
	background-color:#FA5858;
}

.wrapper-form .pageForm .button .icon
{
	width:50px;
	text-align:center;
	float:left;
	color:#47D37F;
}

.wrapper-form .pageForm .button .icon.close
{
	color:#F69A9A;
}

.wrapper-form .pageForm .button .icon.active
{
	color:white;
}

.wrapper-form .pageForm .button .value
{
	width:200px;
	text-align:center;
	float:left;
}

.wrapper-form .items
{
	width:100%;
}

.wrapper-form .items .item
{
	width:50%;
	float:left;
	cursor:pointer;
	padding:5px 10px 5px 10px;
}

.wrapper-form .items .item.active
{
	background-color:gray;
}

.wrapper-form .items .item .icon
{
	width:100%;
	margin:0px;
	text-align:center;
}

.wrapper-form .items .item .icon img
{
	width:100%;
	max-width:60px;
}

.wrapper-form .items .item .value
{
	text-align:center;
	width:100%;
	margin:0px;
	padding:5px 0px 5px 0px;
}

input[type="text"], input[type="password"]{
	text-align:left;
	position: relative;
	width:100%;
	padding:10px;
	background:#D3D3D3;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #676767;
	font-weight:600;
	font-size: 16px;
	outline: none;
	border: none;
	border:1px solid #DED6D6;
	-webkit-appearance:none;
}
 input[type="text"]:hover, input[type="password"]:hover{
 	border:1px solid #949494;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
 	
 }
input[type="button"]{
	width: 99%;
	padding: 10px;
	margin-bottom: 20px;
	background: #F9B233;
	font-family: 'Open Sans', sans-serif;
	color: #ECECEC;
	box-shadow: inset 0px 0px 10px #666464;
	-webkit-text-shadow: 0px 0px 3px #000;
	-moz-text-shadow: 0px 0px 3px #000;
	-o-text-shadow: 0px 0px 3px #000;
	-ms-text-shadow: 0px 0px 3px #000;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight:500;
	transition: 0.5s;
	-webkit-appearance:none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}
input[type="button"]:hover{
	background:#F9B233;
	color:#fff;
}

input[type="button"]:disabled{
	background:#F2F2F2;
	color:#FFF;
}
