#validation-code{
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 100%
}

#validation-photo{
    text-align: center;
    width: 100%;
}

#validation-map-container{
    width: 100%;
}

#validation-map{
    width: 100%;
    height: 100%;
}